{
  "openapi": "3.1.0",
  "info": {
    "title": "API Compras.gov.br",
    "description": "[Compras Públicas em Dados Abertos](https://www.gov.br/compras/pt-br/cidadao/compras-publicas-dados-abertos)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dadosabertos.compras.gov.br",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "98 - ALICE",
      "description": "Serviços de integração Analisador de Licitações, Contratos e Editais (Alice) e Compras.gov."
    },
    {
      "name": "02 - CATÁLOGO - SERVIÇO",
      "description": "Catálogo de Serviços (CATSER): Consulta serviços com informações detalhadas."
    },
    {
      "name": "04 - PGC",
      "description": "Consulta dados sobre Planejamento e Gerenciamento de Contratações (PGC)."
    },
    {
      "name": "AUTENTICACAO",
      "description": "Descrição do serviço de autenticação de usuários"
    },
    {
      "name": "08 - ARP",
      "description": "Consulta Atas de Registro de Preços (ARP) e seus respectivos itens."
    },
    {
      "name": "07 - CONTRATAÇÕES",
      "description": "Consulta contratações realizadas sob a Lei nº 14.133/2021."
    },
    {
      "name": "03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS",
      "description": "Consulta preços praticados nas compras públicas por códigos de itens do CATMAT e CATSER."
    },
    {
      "name": "99 - USUARIOS",
      "description": "Serviço de gestão de usuários."
    },
    {
      "name": "05 - UASG",
      "description": "Consulta dados sobre Unidades Administrativas de Serviços Gerais (UASG)."
    },
    {
      "name": "01 - CATÁLOGO - MATERIAL",
      "description": "Catálogo de Materiais (CATMAT): Consulta itens de materiais com dados detalhados."
    },
    {
      "name": "06 - LEGADO",
      "description": "Consulta licitações realizadas sob a Lei nº 8.666/1993 e leis anteriores à Lei nº 14.133/2021."
    },
    {
      "name": "09 - CONTRATOS",
      "description": "Consulta contratos e seus respectivos itens."
    },
    {
      "name": "10 - FORNECEDOR",
      "description": "Consulta fornecedores registrados."
    },
    {
      "name": "11 - OCDS",
      "description": "Consulta contratações no formato OCDS (Open Contracting Data Standard)."
    }
  ],
  "paths": {
    "/usuarios/criar": {
      "post": {
        "tags": ["99 - USUARIOS"],
        "operationId": "criar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsuariosDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UsuariosDTOResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autenticacao/login": {
      "post": {
        "tags": ["AUTENTICACAO"],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutenticacaoDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/usuarios/resetSenha/{id}": {
      "patch": {
        "tags": ["99 - USUARIOS"],
        "operationId": "resetSenha",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/usuarios/atualizar/{id}": {
      "patch": {
        "tags": ["99 - USUARIOS"],
        "operationId": "atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsuariosDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UsuariosResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/usuarios/consultar": {
      "get": {
        "tags": ["99 - USUARIOS"],
        "operationId": "consultar",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UsuariosResponseDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/modulo-uasg/2_consultarOrgao": {
      "get": {
        "tags": ["05 - UASG"],
        "operationId": "consultarOrgao",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "cnpjCpfOrgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoVinculado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoSuperior",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoOrgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "statusOrgao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "usoSisg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmCorpOrgaoAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-uasg/2.1_consultarOrgao_CSV": {
      "get": {
        "tags": ["05 - UASG"],
        "operationId": "consultarOrgaoCSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "cnpjCpfOrgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoVinculado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoSuperior",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoOrgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "statusOrgao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "usoSisg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-uasg/1_consultarUasg": {
      "get": {
        "tags": ["05 - UASG"],
        "operationId": "consultarUasg",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usoSisg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cnpjCpfOrgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoVinculado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoSuperior",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siglaUf",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusUasg",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmCorpUasgAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-uasg/1.1_consultarUasg_CSV": {
      "get": {
        "tags": ["05 - UASG"],
        "operationId": "consultarUasgCSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usoSisg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cnpjCpfOrgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoVinculado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpjCpfOrgaoSuperior",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siglaUf",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusUasg",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/8_consultarNaturezaDespesaServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarNaturezaDespesaServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoServico",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoNaturezaDespesa",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusNaturezaDespesa",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoNaturezaDespesaAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/7_consultarUndMedidaServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarUndMedidaServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoServico",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusUnidadeMedida",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoUndMedidaAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/6_consultarItemServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarItemServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoSecao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoDivisao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoSubclasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoCpc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoServico",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "exclusivoCentralCompras",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "statusServico",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoItemAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/5_consultarSubClasseServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarSubClasseServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoSubclasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusSubclasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoSubClasseAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/4_consultarClasseServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarClasseServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoClasseAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/3_consultarGrupoServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarGrupoServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoDivisao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoGrupoAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/2_consultarDivisaoServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarDivisaoServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoSecao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoDivisao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusDivisao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoDivisaoAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-servico/1_consultarSecaoServico": {
      "get": {
        "tags": ["02 - CATÁLOGO - SERVIÇO"],
        "operationId": "consultarSecaoServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoSecao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusSecao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmServicoSecaoAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pgc/3_consultarPgcAgregacao": {
      "get": {
        "tags": ["04 - PGC"],
        "operationId": "consultarPgcAgregacao",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "orgao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ano",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOFtPgcAgregacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pgc/3.1_consultarPgcAgregacao_CSV": {
      "get": {
        "tags": ["04 - PGC"],
        "operationId": "consultarPgcAgregacao_CSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "orgao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ano",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pgc/2_consultarPgcDetalheCatalogo": {
      "get": {
        "tags": ["04 - PGC"],
        "operationId": "consultarPgcDetalheCatalogo",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "anoPcaProjetoCompra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["Servico", "Material"]
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código de classe para material ou código do grupo para serviço",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Código de classe para material ou código do grupo para serviço"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOFtPgcDetalheDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pgc/2.1_consultarPgcDetalheCatalogo_CSV": {
      "get": {
        "tags": ["04 - PGC"],
        "operationId": "consultarPgcDetalheCatalogo_CSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "anoPcaProjetoCompra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["Servico", "Material"]
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código de classe para material ou código do grupo para serviço",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Código de classe para material ou código do grupo para serviço"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pgc/1_consultarPgcDetalhe": {
      "get": {
        "tags": ["04 - PGC"],
        "operationId": "consultarPgcDetalhe",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "orgao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anoPcaProjetoCompra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOFtPgcDetalheDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pgc/1.1_consultarPgcDetalhe_CSV": {
      "get": {
        "tags": ["04 - PGC"],
        "operationId": "consultarPgcDetalhe_CSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "orgao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anoPcaProjetoCompra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/4_consultarServicoDetalhe": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarServicoDetalhe",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FtPesqPrecoCompraServicoDetalheAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/4.1_consultarServicoDetalhe_CSV": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarServicoDetalheCSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/3_consultarServico": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarServico",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoMunicipio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataResultado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "poder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "esfera",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "idCompra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FtPesqPrecoCompraServicoAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/3.1_consultarServico_CSV": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarServicoCSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoMunicipio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataResultado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "poder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "esfera",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "idCompra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/2_consultarMaterialDetalhe": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarMaterialDetalhe",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FtPesqPrecoCompraMaterialDetalheAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/2.1_consultarMaterialDetalhe_CSV": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarMaterialDetalheCSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/1_consultarMaterial": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarMaterial",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoMunicipio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataResultado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "poder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "esfera",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCompra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FtPesqPrecoCompraMaterialAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-pesquisa-preco/1.1_consultarMaterial_CSV": {
      "get": {
        "tags": ["03 - PESQUISA DE PREÇO - PREÇOS PRATICADOS"],
        "operationId": "consultarMaterialCSV",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItemCatalogo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoUasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoMunicipio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataResultado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "poder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "esfera",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCompra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataCompraInicio",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataCompraFim",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-ocds/1_releases": {
      "get": {
        "tags": ["11 - OCDS"],
        "operationId": "releases",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "offSet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "buyerID",
            "in": "query",
            "description": "BR-CNPJ",
            "required": true,
            "schema": {
              "type": "string",
              "description": "BR-CNPJ"
            }
          },
          {
            "name": "releaseStartDate",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "releaseEndDate",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VwOCDSApiResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-material/7_consultarMaterialCaracteristicas": {
      "get": {
        "tags": ["01 - CATÁLOGO - MATERIAL"],
        "operationId": "consultarMaterialCaracteristicas",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmMaterialCaracteristicasAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-material/6_consultarMaterialUnidadeFornecimento": {
      "get": {
        "tags": ["01 - CATÁLOGO - MATERIAL"],
        "operationId": "consultarMaterialUnidadeFornecimento",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoPdm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusUnidadeFornecimentoPdm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmMaterialUnidadeFornecimentoAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-material/5_consultarMaterialNaturezaDespesa": {
      "get": {
        "tags": ["01 - CATÁLOGO - MATERIAL"],
        "operationId": "consultarMaterialNaturezaDespesa",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoPdm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoNaturezaDespesa",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusNaturezaDespesa",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmMaterialNaturezaDespesaAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-material/4_consultarItemMaterial": {
      "get": {
        "tags": ["01 - CATÁLOGO - MATERIAL"],
        "operationId": "consultarItemMaterial",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoPdm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "descricaoItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "bps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "codigo_ncm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmMaterialItemAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-material/3_consultarPdmMaterial": {
      "get": {
        "tags": ["01 - CATÁLOGO - MATERIAL"],
        "operationId": "consultarPdmMaterial",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "statusPdm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "codigoPdm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "bps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DmMaterialPDMAPIResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-material/2_consultarClasseMaterial": {
      "get": {
        "tags": ["01 - CATÁLOGO - MATERIAL"],
        "operationId": "consultarClasseMaterial",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusClasse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "bps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTODmMaterialClasseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-material/1_consultarGrupoMaterial": {
      "get": {
        "tags": ["01 - CATÁLOGO - MATERIAL"],
        "operationId": "consultarGrupoMaterial",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "codigoGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statusGrupo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTODmMaterialGrupoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/7_consultarRdc": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarRdc",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "data_publicacao_min",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "data_publicacao_max",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "endereco_entrega_edital",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forma_de_realizacao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "funcao_responsavel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modalidade",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "nome_responsavel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numero_aviso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "objeto",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "situacao_aviso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "uf_uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valor_estimado_total_max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "valor_estimado_total_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "valor_homologado_total_max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "valor_homologado_total_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwRdcDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/6_consultarCompraItensSemLicitacao": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarCompraItensSemLicitacao",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "co_uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "co_orgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_ano_aviso_licitacao",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "co_modalidade_licitacao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "co_conjunto_materiais",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "co_servico",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "nu_cpf_cnpj_fornecedor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwCompraItensSemLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/6.1_consultarItensComprasSemLicitacao_Id": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarItensComprasSemLicitacao_Id",
        "parameters": [
          {
            "name": "id_compra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_compra_item",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_alteracao",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwCompraItensSemLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/5_consultarComprasSemLicitacao": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarComprasSemLicitacao",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "dt_ano_aviso",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "nu_aviso_licitacao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "co_modalidade_licitacao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "co_orgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "co_orgao_superior",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "co_uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dtDeclaracaoDispensaInicial",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dtDeclaracaoDispensaFinal",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dtRatificacao",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dtPublicacao",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "pertence14133",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwComprasSemLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/5.1_consultarCompraSemLicitacao_Id": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarCompraSemLicitacao_Id",
        "parameters": [
          {
            "name": "idCompra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwComprasSemLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/4_consultarItensPregoes": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarItensPregoes",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "co_uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "decreto_7174",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fornecedor_vencedor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_hom_inicial",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dt_hom_final",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwItensPregaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/4.1_consultarItensPregoes_Id": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarItensPregoes_Id",
        "parameters": [
          {
            "name": "id_compra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_compra_item",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_alteracao",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwItensPregaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/3_consultarPregoes": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarPregoes",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "co_uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "co_orgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numero",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ds_tipo_pregao_compra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_data_edital_inicial",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dt_data_edital_final",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "pertence14133",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwPregaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/3.1_consultarPregoes_Id": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarPregoes_Id",
        "parameters": [
          {
            "name": "id_compra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_alteracao",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwPregaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/2_consultarItemLicitacao": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarItemLicitacao",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numero_aviso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modalidade",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "decreto_7174",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "codigo_item_material",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigo_item_servico",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cnpj_fornecedor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpfVencedor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwItemLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/2.1_consultarItemLicitacao_Id": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarItemLicitacao_Id",
        "parameters": [
          {
            "name": "id_compra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_compra_item",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_alteracao",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwItemLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/1_consultarLicitacao": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarLicitacao",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "uasg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numero_aviso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modalidade",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "data_publicacao_inicial",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "data_publicacao_final",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "pertence14133",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-legado/1.1_consultarLicitacao_Id": {
      "get": {
        "tags": ["06 - LEGADO"],
        "operationId": "consultarLicitacao_Id",
        "parameters": [
          {
            "name": "id_compra",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt_alteracao",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOTbVwLicitacaoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-fornecedor/1_consultarFornecedor": {
      "get": {
        "tags": ["10 - FORNECEDOR"],
        "operationId": "consultarFornecedor",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "naturezaJuridicaId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "porteEmpresaId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codigoCnae",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ativo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAPIResponseDTOVwFtFornecedorDTO"
                }
              }
            }
          }
        }
      }
    },
    "/modulo-contratos/2_consultarContratosItem": {
      "get": {
        "tags": ["09 - CONTRATOS"],
        "operationId": "consultarContratosItem",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "codigoOrgao",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoUnidadeGestora",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoUnidadeGestoraOrigemContrato",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoUnidadeRealizadoraCompra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numeroContrato",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoModalidadeCompra",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "niFornecedor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataVigenciaInicialMin",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "YYYY-MM-DD"
            }
          },
          {
            "name": "dataVigenciaInicialMax",
            "in": "query",
            "description": "YYYY-MM-DD",
[...]
