{
  "openapi": "3.0.1",
  "info": {
    "title": "API REST do Portal da Transparência do Governo Federal",
    "contact": {
      "name": "Diretoria de Tecnologia da Informação - DTI",
      "url": "https://www.cgu.gov.br",
      "email": "listaapitransparencia@cgu.gov.br"
    },
    "license": {
      "name": "Decreto nº 8.777, de 11 de maio de 2016",
      "url": "https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/decreto/d8777.htm"
    },
    "version": "1.0"
  },
  "externalDocs": {
    "description": "Changelog",
    "url": "/changelog"
  },
  "servers": [
    {
      "url": "https://api.portaldatransparencia.gov.br",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/api-de-dados/viagens": {
      "get": {
        "tags": ["Viagens a serviço"],
        "summary": "Consulta viagens por período",
        "description": "Filtros mínimos:  Página (padrão = 1);  Período de no máximo 1 mês; Código do Órgão (SIAFI)",
        "operationId": "viagensPorPeriodoEOrgao",
        "parameters": [
          {
            "name": "dataIdaDe",
            "in": "query",
            "description": "Data de ida a partir de (DD/MM/AAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataIdaAte",
            "in": "query",
            "description": "Data de ida até (DD/MM/AAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataRetornoDe",
            "in": "query",
            "description": "Data de retorno a partir de (DD/MM/AAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataRetornoAte",
            "in": "query",
            "description": "Data de retorno até (DD/MM/AAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoOrgao",
            "in": "query",
            "description": "<a href='/swagger-ui/index.html#/Órgãos/orgaosSiafi' target=\"_blank\">Código do Órgão (SIAFI)</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ViagemDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/viagens/{id}": {
      "get": {
        "tags": ["Viagens a serviço"],
        "summary": "Consulta uma viagem pelo ID",
        "description": "Filtros mínimos: ID do registro",
        "operationId": "viagem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do registro",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ViagemDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/viagens-por-cpf": {
      "get": {
        "tags": ["Viagens a serviço"],
        "summary": "Consulta viagens por CPF",
        "description": "Filtros mínimos:  Página (padrão = 1);  CPF; ",
        "operationId": "viagensPorCpf",
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ViagemDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/situacao-imovel": {
      "get": {
        "tags": ["Imóveis Funcionais"],
        "summary": "Consulta situações dos imóveis funcionais",
        "operationId": "situacaoImovel",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/servidores": {
      "get": {
        "tags": ["Servidores do Poder Executivo Federal"],
        "summary": "Consulta todos servidores do Poder Executivo Federal",
        "description": "Filtros mínimos:  Página (padrão = 1); <a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >Código Órgão Lotação (SIAPE)</a> OU <a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >Código Órgão Exercício (SIAPE)</a> OU CPF;",
        "operationId": "dadosServidores",
        "parameters": [
          {
            "name": "tipoServidor",
            "in": "query",
            "description": "Tipo do Servidor (Civil=1 ou Militar=2)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "situacaoServidor",
            "in": "query",
            "description": "Situação do Servidor (Ativo=1, Inativo=2 ou Pensionista=3)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do Servidor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "description": "Nome do Servidor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoFuncaoCargo",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Servidores32do32Poder32Executivo32Federal/listarFuncoesECargosUsingGET' >Código da Função ou Cargo de Confiança</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgaoServidorExercicio",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >Código Órgão Exercício (SIAPE)</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgaoServidorLotacao",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >Código Órgão Lotação (SIAPE)</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CadastroServidorDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/servidores/{id}": {
      "get": {
        "tags": ["Servidores do Poder Executivo Federal"],
        "summary": "Consulta um servidor do Poder Executivo Federal pelo idServidorAposentadoPensionista",
        "description": "Filtros mínimos: ID do registro",
        "operationId": "servidor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "idServidorAposentadoPensionista",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CadastroServidorDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/servidores/remuneracao": {
      "get": {
        "tags": ["Servidores do Poder Executivo Federal"],
        "summary": "Consulta remunerações de um servidor do Poder Executivo Federal pelo CPF ou idServidorAposentadoPensionista e mês/ano",
        "description": "Filtros mínimos:  Página (padrão = 1);  CPF;  Ano/Mês (YYYYMM); ou Página (padrão = 1);  Id Servidor; Ano/Mês (YYYYMM);",
        "operationId": "remuneracoesServidores",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "idServidorAposentadoPensionista",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do Servidor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mesAno",
            "in": "query",
            "description": "Ano e mês de referência (AAAAMM)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServidorRemuneracaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/servidores/por-orgao": {
      "get": {
        "tags": ["Servidores do Poder Executivo Federal"],
        "summary": "Consulta de servidores agregados por órgão",
        "description": "Filtros mínimos:  Página (padrão = 1); ",
        "operationId": "servidorAgregadoPorOrgao",
        "parameters": [
          {
            "name": "orgaoLotacao",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >Código Órgão Lotação (SIAPE)</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgaoExercicio",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >Código Órgão Exercício (SIAPE)</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoServidor",
            "in": "query",
            "description": "Tipo servidor (Civil: 1; Militar: 2)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tipoVinculo",
            "in": "query",
            "description": "Tipo vínculo (Função: 1; Cargo: 2; Outros: 3; Militares: 4",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "licenca",
            "in": "query",
            "description": "Licença (Sim: 1; Não: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServidorPorOrgaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/servidores/funcoes-e-cargos": {
      "get": {
        "tags": ["Servidores do Poder Executivo Federal"],
        "summary": "Código da Função ou Cargo de Confiança",
        "description": "Filtros mínimos:  Página (padrão = 1); ",
        "operationId": "listarFuncoesECargos",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuncaoServidorDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/seguro-defeso-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Seguro Defeso",
        "description": "Filtros mínimos:  Página (padrão = 1);  Ano/Mês (YYYYMM); Código IBGE (https://cidades.ibge.gov.br/brasil); ",
        "operationId": "seguroDefesos",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "description": "Ano e mês de referência (AAAAMM)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeneficioPorMunicipioDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/seguro-defeso-codigo": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Seguro Defeso por CPF/NIS",
        "description": "Filtros mínimos:  Página (padrão = 1);  CPF / NIS; ",
        "operationId": "seguroDefesosPorCodigo",
        "parameters": [
          {
            "name": "codigo",
            "in": "query",
            "description": "CPF/NIS",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SeguroDefesoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/seguro-defeso-beneficiario-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Seguro Defeso dos Beneficiários por Município e Mes/Ano",
        "description": "Filtros mínimos:  Página (padrão = 1);  Ano/Mês (YYYYMM); Código IBGE (https://cidades.ibge.gov.br/brasil); ",
        "operationId": "seguroDefesosDosBeneficiariosPorMunicipio",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "description": "Ano e mês de referência (AAAAMM)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SeguroDefesoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/safra-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Garantia-Safra",
        "description": "Filtros mínimos:  Página (padrão = 1);  Ano/Mês (YYYYMM); Código IBGE (https://cidades.ibge.gov.br/brasil); ",
        "operationId": "safra",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "description": "Ano e mês de referência (AAAAMM)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeneficioPorMunicipioDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/safra-codigo-por-cpf-ou-nis": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Garantia-Safra por CPF/NIS",
        "description": "Filtros mínimos:  Página (padrão = 1);  CPF / NIS; ",
        "operationId": "safraPorNisOuCPF",
        "parameters": [
          {
            "name": "codigo",
            "in": "query",
            "description": "CPF/NIS",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SafraDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/safra-beneficiario-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Garantia-Safra dos beneficiários por município e mes/ano",
        "description": "Filtros mínimos:  Página (padrão = 1);  Ano/Mês (YYYYMM); Código IBGE (https://cidades.ibge.gov.br/brasil); ",
        "operationId": "safraDosBeneficiariosPorMunicipio",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "description": "Ano e mês de referência (AAAAMM)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SafraDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/renuncias-valor": {
      "get": {
        "tags": ["Renúncias Fiscais"],
        "summary": "Consulta de Valores Renunciados",
        "operationId": "consultaValoresRenuncia",
        "parameters": [
          {
            "name": "nomeSiglaUF",
            "in": "query",
            "description": "Nome ou Sigla UF",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpj",
            "in": "query",
            "description": "CNPJ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RenunciaDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/renuncias-fiscais-empresas-imunes-isentas": {
      "get": {
        "tags": ["Renúncias Fiscais"],
        "summary": "Consulta Pessoas Jurídicas Imunes e Isentas",
        "operationId": "consultaPessoaJuridicasImunesIsentas",
        "parameters": [
          {
            "name": "nomeSiglaUF",
            "in": "query",
            "description": "Nome ou Sigla UF",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpj",
            "in": "query",
            "description": "CNPJ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beneficiarioNomeFantasia",
            "in": "query",
            "description": "Beneficiário/Nome Fantasia",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmpresaImuneIsentaDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/renuncias-fiscais-empresas-habilitadas-beneficios-fiscais": {
      "get": {
        "tags": ["Renúncias Fiscais"],
        "summary": "Consulta Pessoas Jurídicas Habilitadas a Benefício Fiscal",
        "operationId": "consultaPessoasJuridicasHabilitadasBeneficioFiscal",
        "parameters": [
          {
            "name": "nomeSiglaUF",
            "in": "query",
            "description": "Nome ou Sigla UF",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cnpj",
            "in": "query",
            "description": "CNPJ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beneficiarioNomeFantasia",
            "in": "query",
            "description": "Beneficiário/Nome Fantasia",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmpresaHabilitadaBeneficioFiscalDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/peti-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Programa de Erradicação do Trabalho Infantil",
        "description": "Filtros mínimos:  Página (padrão = 1);  Ano/Mês (YYYYMM); Código IBGE (https://cidades.ibge.gov.br/brasil); ",
        "operationId": "peti",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "description": "Ano e mês de referência (AAAAMM)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeneficioPorMunicipioDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/peti-por-cpf-ou-nis": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros Programa de Erradicação do Trabalho Infantil por CPF/NIS",
        "description": "Filtros mínimos:  Página (padrão = 1);  CPF / NIS; ",
        "operationId": "peti_1",
        "parameters": [
          {
            "name": "codigo",
            "in": "query",
            "description": "CPF/NIS",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PetiDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/peti-beneficiario-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "summary": "Consulta os registros PETI dos beneficiários por município e mês/ano",
        "description": "Filtros mínimos:  Página (padrão = 1);  Ano/Mês (YYYYMM); Código IBGE (https://cidades.ibge.gov.br/brasil); ",
        "operationId": "petiBeneficiarioPorMunicipio",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "description": "Ano e mês de referência (AAAAMM)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "description": "Código IBGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PetiDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/pessoa-juridica": {
      "get": {
        "tags": ["Pessoas físicas e jurídicas"],
        "summary": "Consulta os registros de Pessoas Jurídicas",
        "operationId": "pj",
        "parameters": [
          {
            "name": "cnpj",
            "in": "query",
            "description": "CNPJ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PessoaJuridicaDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/pessoa-fisica": {
      "get": {
        "tags": ["Pessoas físicas e jurídicas"],
        "summary": "Consulta os registros de Pessoas Físicas",
        "description": "Filtros mínimos: CPF ou NIS",
        "operationId": "pf",
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nis",
            "in": "query",
            "description": "NIS",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PessoaFisicaDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/permissionarios": {
      "get": {
        "tags": ["Imóveis Funcionais"],
        "summary": "Consulta relação de ocupantes",
        "description": "Filtros mínimos:  Página (padrão = 1); ",
        "operationId": "relacaoOcupantes",
        "parameters": [
          {
            "name": "codigoOrgaoResponsavelGestaoSiafi",
            "in": "query",
            "description": "<a href='/swagger-ui/index.html#/Órgãos/orgaosSiafi' target=\"_blank\">Código do Órgão Responsável pela Gestão(SIAFI)</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "descricaoOrgaoOcupante",
            "in": "query",
            "description": "Descrição do Órgão do Ocupante",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpfOcupante",
            "in": "query",
            "description": "CPF Ocupante",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataInicioOcupacao",
            "in": "query",
            "description": "Data início ocupação(DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataFimOcupacao",
            "in": "query",
            "description": "Data fim ocupação (DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermissionarioDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/peps": {
      "get": {
        "tags": ["Servidores do Poder Executivo Federal"],
        "summary": "Consulta PEPs",
        "operationId": "dadosPEPs",
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "description": "CPF do Servidor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "description": "Nome do Servidor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "descricaoFuncao",
            "in": "query",
            "description": "Descrição da Função",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgaoServidorLotacao",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/211rg227os/orgaosSiapeUsingGET' >Código Órgão Lotação (SIAPE)</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataInicioExercicioDe",
            "in": "query",
            "description": "Data início do exercício, período inicial (DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datInicioExercicioAte",
            "in": "query",
            "description": "Data início do exercício, período final (DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataFimExercicioDe",
            "in": "query",
            "description": "Data fim do exercício, período inicial (DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datFimExercicioAte",
            "in": "query",
            "description": "Data fim do exercício, período final (DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PEPDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/orgaos-siape": {
      "get": {
        "tags": ["Órgãos"],
        "summary": "Consulta de órgãos cadastrados no Sistema Integrado de Administração de Pessoal (SIAPE)",
        "description": "Filtros mínimos:  Página (padrão = 1);  Período de no máximo 1 mês; ",
        "operationId": "orgaosSiape",
        "parameters": [
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do Órgão (SIAPE)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "descricao",
            "in": "query",
            "description": "Descrição do Órgão (SIAPE)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CodigoDescricaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/orgaos-siafi": {
      "get": {
        "tags": ["Órgãos"],
        "summary": "Consulta de órgãos cadastrados no Sistema Integrado de Administração Financeira do Governo Federal (SIAFI)",
        "description": "Filtros mínimos:  Página (padrão = 1); ",
        "operationId": "orgaosSiafi",
        "parameters": [
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do Órgão (SIAFI)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "descricao",
            "in": "query",
            "description": "Descrição do Órgão (SIAFI)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CodigoDescricaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/novo-bolsa-familia-sacado-por-nis": {
      "get": {
        "tags": ["Benefícios"],
        "operationId": "novoBolsaFamiliaSacadoPorNis",
        "parameters": [
          {
            "name": "nis",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anoMesReferencia",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "anoMesCompetencia",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NovoBolsaFamiliaPagoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/novo-bolsa-familia-sacado-beneficiario-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "operationId": "novoBolsaFamiliaSacadoDosBeneficiariosPorMunicipio",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NovoBolsaFamiliaPagoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/novo-bolsa-familia-por-municipio": {
      "get": {
        "tags": ["Benefícios"],
        "operationId": "novoBolsaFamiliaPorMunicipio",
        "parameters": [
          {
            "name": "mesAno",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoIbge",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeneficioPorMunicipioDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/notas-fiscais": {
      "get": {
        "tags": ["Notas Fiscais"],
        "summary": "Consulta todas as notas fiscais eletrônicas (NFe´s) do Poder Executivo Federal",
        "description": "Filtros mínimos:  Página (padrão = 1);  CNPJ Emitente / Órgão / Produto; ",
        "operationId": "notasFiscais",
        "parameters": [
          {
            "name": "cnpjEmitente",
            "in": "query",
            "description": "CNPJ do emitente",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoOrgao",
            "in": "query",
            "description": "Código do Órgão (SIAFI)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nomeProduto",
            "in": "query",
            "description": "Nome do produto",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotaFiscalDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/notas-fiscais-por-chave": {
      "get": {
        "tags": ["Notas Fiscais"],
        "summary": "Consulta uma nota fiscal eletrônica (NFe) do Poder Executivo Federal pela chave única",
        "description": "Filtros mínimos: Código do registro",
        "operationId": "notaFiscal",
        "parameters": [
          {
            "name": "chaveUnicaNotaFiscal",
            "in": "query",
            "description": "Chave única da nota fiscal",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DetalheNotaFiscalDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta todas as licitações do Poder Executivo Federal",
        "description": "Filtros mínimos:  Página (padrão = 1);  Período de no máximo 1 mês; Código do Órgão (SIAFI)",
        "operationId": "licitacoes",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data de abertura inicial (DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data de abertura final (DD/MM/AAAA)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoOrgao",
            "in": "query",
            "description": "<a href='/swagger-ui/index.html#/Órgãos/orgaosSiafi' target=\"_blank\">Código do Órgão (SIAFI)</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LicitacaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/{id}": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta uma licitação do Poder Executivo Federal pelo id",
        "description": "Filtros mínimos: ID do registro",
        "operationId": "licitacao",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do registro",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LicitacaoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/ugs": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta as Unidades Gestoras que realizaram licitações",
        "operationId": "ugs",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnidadeGestoraDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/por-ug-modalidade-numero": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta uma licitação pelo código da Unidade Gestora, número e modalidade",
        "description": "O número da licitação deve conter somente números, por exemplo, para a licitação 2/2020 o parâmetro deve ter o valor 22020",
        "operationId": "licitacoesPorUgModalidadeENumero",
        "parameters": [
          {
            "name": "codigoUG",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >Código da Unidade Gestora</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numero",
            "in": "query",
            "description": "Número da Licitação (NNNNNAAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoModalidade",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >Código da Modalidade da Licitação</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LicitacaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/por-processo": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta uma licitação pelo número do processo",
        "description": "O número do processo deve conter somente números",
        "operationId": "licitacoesPorProcesso",
        "parameters": [
          {
            "name": "processo",
            "in": "query",
            "description": "Número do Processo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LicitacaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/participantes": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta os participantes de uma licitação",
        "description": "O número da licitação deve conter somente números, por exemplo, para a licitação 2/2020 o parâmetro deve ter o valor 22020",
        "operationId": "participantes",
        "parameters": [
          {
            "name": "codigoUG",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >Código da Unidade Gestora</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numero",
            "in": "query",
            "description": "Número da Licitação (NNNNNAAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoModalidade",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >Código da Modalidade da Licitação</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParticipanteLicitacaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/modalidades": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta as modalidades de licitação",
        "operationId": "modalidades",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CodigoDescricaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/itens-licitados": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta os itens licitados pelo id licitação",
        "description": "Filtros mínimos: ID do registro",
        "operationId": "itensLicitados",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID do registro",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemLicitacaoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/empenhos": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta os empenhos de uma licitação",
        "description": "O número da licitação deve conter somente números, por exemplo, para a licitação 2/2020 o parâmetro deve ter o valor 22020",
        "operationId": "empenhos",
        "parameters": [
          {
            "name": "codigoUG",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >Código da Unidade Gestora</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numero",
            "in": "query",
            "description": "Número da Licitação (NNNNNAAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoModalidade",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >Código da Modalidade da Licitação</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmpenhoComprasDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/licitacoes/contratos-relacionados-licitacao": {
      "get": {
        "tags": ["Licitações do Poder Executivo Federal"],
        "summary": "Consulta os contratos relacionados a licitação",
        "description": "Filtros mínimos: ID do registro",
        "operationId": "contratosRelacionados",
        "parameters": [
          {
            "name": "codigoUG",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/ugsUsingGET' >Código da Unidade Gestora</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numero",
            "in": "query",
            "description": "Número da Licitação (NNNNNAAAA)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoModalidade",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Licita231245es32do32Poder32Executivo32Federal/modalidadesUsingGET' >Código da Modalidade da Licitação</a>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContratoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/imoveis": {
      "get": {
        "tags": ["Imóveis Funcionais"],
        "summary": "Consulta relação de imóveis",
        "description": "Filtros mínimos:  Página (padrão = 1); ",
        "operationId": "relacaoImoveis",
        "parameters": [
          {
            "name": "codigoOrgaoSiafiResponsavelGestao",
            "in": "query",
            "description": "<a href='/swagger-ui/index.html#/Órgãos/orgaosSiafi' target=\"_blank\">Código do Órgão (SIAFI)</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "situacao",
            "in": "query",
            "description": "<a href='/swagger-ui.html#!/Im243veis32Funcionais/situacaoImovelUsingGET' >Situação Imóvel</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regiao",
            "in": "query",
            "description": "Região",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cep",
            "in": "query",
            "description": "CEP",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endereco",
            "in": "query",
            "description": "Endereço",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImovelFuncionalDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api-de-dados/emendas": {
      "get": {
        "tags": ["Emendas parlamentares"],
        "summary": "Consulta as emendas parlamentares",
        "description": "Filtros mínimos:  Página (padrão = 1); ",
        "operationId": "emendas",
        "parameters": [
          {
            "name": "codigoEmenda",
            "in": "query",
            "description": "Código da Emenda",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numeroEmenda",
            "in": "query",
            "description": "Número da emenda",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nomeAutor",
            "in": "query",
            "description": "Nome do Autor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoEmenda",
            "in": "query",
            "description": "Tipo de emenda",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ano",
            "in": "query",
            "description": "Ano",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoFuncao",
            "in": "query",
            "description": "Código da função",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoSubfuncao",
            "in": "query",
            "description": "Código da subfunção",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página consultada",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConsultaEmendasDTO"
                  }
                }
              }
            }
          },
[...]
